/node_modules
/src
/.git
/.github
/tsconfig.json
/.eslintrc.js
/.eslintignore
/jest.config.js
/coverage
/.nyc_output
/.circleci
/.vscode
/.husky
/.prettierrc
/.editorconfig
/README.md
/INSTALL.md
/.idea 