openapi: 3.0.1
info:
  title: Timetonic API
  description: API for accessing and managing Timetonic resources
  version: "1.0"
servers:
  - url: https://timetonic.com/live
paths:
  /api.php:
    post:
      operationId: makeRequest
      summary: Make a request to the Timetonic API
      description: Generic endpoint for all Timetonic API operations
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                req:
                  type: string
                  description: Request type
                  enum: [getAllBooks, getBookInfo, getBookTables, sendMsg, getTableValues, createOrUpdateTableRow]
                o_u:
                  type: string
                  description: User context
                  default: "zo"
                u_c:
                  type: string
                  description: User type
                  default: "zo"
                version:
                  type: string
                  description: API version
                  default: "6.49q/6.49"
                sesskey:
                  type: string
                  description: Session key
                b_c:
                  type: string
                  description: Book code
                b_o:
                  type: string
                  description: Book owner
                catId:
                  type: string
                  description: Table ID
                msg:
                  type: string
                  description: Message text
                fieldValues:
                  type: string
                  description: JSON string containing field values
                rowId:
                  type: string
                  description: Row ID
                body:
                  type: string
                  description: Message body
                uuid:
                  type: string
                  description: Message UUID
              required:
                - req
                - o_u
                - u_c
                - version
                - sesskey
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    SessionKeyAuth:
      type: apiKey
      in: query
      name: sesskey
security:
  - SessionKeyAuth: [] 